<div class="text-center">
    <h1 class="display-4">Welcome to VMS</h1>
    <hr />
    <h3>Volunteers</h3>
    <p>View the list of volunteers <a href="@Url.Action("VolunteerList")" class="elements"><span>here</span></a></p>
    <hr />
    <h3>Opportunities</h3>
    <p>View a list of volunteer opportunities <a href="@Url.Action("OpportunityList")" class="elements"><span>here</span></a></p>
    <hr />
    <h3>Administrators</h3>
    <p>Administrators login <a href='/Identity/Account/Login' class="elements"><span>here</span></a></p>
    <hr />
    <p>Learn more about our Volunteer Management System <a href="@Url.Action("AboutUs")" class="elements"><span>here</span></a></p>
</div>
