@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VMS</h1>
    <hr />
    <p>Learn more about our Volunteer Management System <a href="@Url.Action("AboutUs")" class="elements"><span>here</span></a></p>
    <p>Administrators login <a href="@Url.Action("AdminLogin")" class="elements"><span>here</span></a></p>
</div>
